/* General styles */
* {
    font-family: Arial, sans-serif;
    color: #ffffff;
}

/* Background styles */
body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Snail.jpg') no-repeat center center fixed !important;
    background-size: cover;
    /* make background darker for readability */
    backdrop-filter: brightness(0.4);
}

@media print {
    .hide-on-print {
        display: none !important;
        visibility: hidden !important;
    }
}