/* General styles */
* {
    font-family: Arial, sans-serif;
}

.header-section-number {
    font-size: 0.6em !important;
}

/* Background styles */
body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Snail.jpg') no-repeat center center fixed !important;
    background-size: cover;
    /* make background darker for readability */
    backdrop-filter: brightness(0.4);
}

.reveal .slides section:not([id="title-slide"]) p,
.reveal .slides section:not([id="title-slide"]) li {
    text-align: left;
}